snippet align "Align" 
\begin{align}
	${0:${VISUAL}}
\end{align}
endsnippet

snippet surr "Surround with a command" 
\\${1:command}\{${0:${VISUAL}}\}
endsnippet

snippet it "Item (replacing existing snippet)" 
\item ${0:${VISUAL}}
endsnippet
